@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@import "tailwindcss";


[data-nextjs-dialog] {
  display: none !important;
}

/* @font-face {
  font-family: "Monigue";
  src: url("/fonts/Monigue.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */



/* @font-face {
  font-family: "Typologic";
  src: url("/fonts/Typologic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: 'SF Pro Display', sans-serif;
}


input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e3e3e3 inset !important;
  -webkit-text-fill-color: #000 !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes bounce-once {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}

.animate-bounce-once {
  animation: bounce-once 0.6s ease-in-out 1;
}